<!Doctype html>
<html>
<head>
    <title>Russian people</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/assets/people.js"></script>
</head>
<body>
<h1>Страны мира</h1>
<section class="buttons">
   <a class="eng_button" href="#"><img class="s_button" src="assets/buttons/sun.jpg"></a>
        <a class="rus_button" href="#"><img class="m_button" src="assets/buttons/suntwo.jpg"></a>
</section>

<div class="instruction_one">
    Нажми на шарик...
</div>
<div class="instruction_two">
    чтобы увидеть список стран!!!
</div>
<a class="show_link" href = "#">
<div class="globe-container">
    <div class="globe">
        <div class="globe-sphere"></div>
        <div class="globe-outer-shadow"></div>
        <div class="globe-worldmap">
            <div class="globe-worldmap-back"></div>
            <div class="show">нажми</div>
            <div class="globe-worldmap-front"></div>
        </div>
        <div class="globe-inner-shadow"></div>
    </div>
</div>
</a>

<section class="titles">
    <div class="countries_title">Выбери страну:</div>
    <div class="description_title">Описание:</div>
</section>
<section class="country">
    <ul class="countries">
    </ul>
    <div class="description"></div>
</section>
</body>
</html>